@import "https://fonts.google.com/specimen/Barlow+Semi+Condensed";
*body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(0, 0%, 81%);
}
img {
  border-radius: 30px;
  width: 33px;
  vertical-align: top;
}
.main-container {
  width: 800px;
  height: 400px;
  margin: auto auto;
}
.grid-container {
  display: grid;
  padding: 10px;
}
.first-testimonial {
  background-color: hsl(263, 55%, 52%);
  position: relative;
}
.second-testimonial {
  background-color: hsl(217, 19%, 35%);
}
.third-testimonial {
  background-color: hsl(0, 0%, 100%);
}
.fifth-testimonial {
  background-color: hsl(219, 29%, 14%);
}
.grid-item {
  border-radius: 10px;

  padding: 14px;
  margin: 6px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.item2 {
  grid-column: 3 / span 1;
  grid-row: 1;
}
.item3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
}
.item4 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.item5 {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.name {
  font-size: 15px;
  font-weight: 500;
  vertical-align: top;
  color: hsl(0, 0%, 100%);
  padding: 0 12px;
}

.designation {
  font-size: 13px;
  font-weight: 300;
  color: hsl(0, 0%, 100%, 50%);
  text-align: left;
  padding: 2px 12px;
  vertical-align: top;
}
.first-para {
  font-size: 13px;
  font-weight: 600;
  color: hsl(0, 0%, 100%, 70%);
  padding: 8px;
  z-index: 1;
}

.second-para {
  font-size: 10px;
  font-weight: 500;
  color: hsl(0, 0%, 100%, 70%);
  padding: 8px;
}
.patrik-profile-picture {
  border: 1.5px solid hsl(263, 55%, 52%);
}

.daniel-profile-picture {
  border: 1.5px solid hsl(0, 0%, 100%);
}
.item3-heading {
  color: hsl(219, 29%, 14%);
}
@media only screen and (max-width: 375px) {
  .name {
    font-size: 40px;
  }

  .designation {
    font-size: 30px;
  }
  img {
    width: 70px;
  }
  .first-para {
    font-size: 40px;
    font-weight: 600;
  }
  .second-para {
    font-size: 30px;
    font-weight: 500;
  }
  .item1 {
    grid-column: 1;
    grid-row: 1;
  }
  .item2 {
    grid-column: 1;
    grid-row: 2;
  }
  .item3 {
    grid-column: 1;
    grid-row: 3;
  }
  .item4 {
    grid-column: 1;
    grid-row: 4;
  }

  .item5 {
    grid-column: 1;
    grid-row: 5;
  }
}

.quotes {
  position: absolute;
  top: 16px;
  right: 40px;
  border-radius: 0;
  width: 60px;
}
